@charset "UTF-8";
/*id(HTML)=#(CSS) -> só pode ter um elemento
class(HTML)=.(CSS) -> pode ter vários elementos*/

body {
    background-color: rgb(233, 233, 157);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(151, 151, 67);
}

h1#principal { /*só pode ter um id por HTML*/
    text-align: center;
    background-color: rgb(151, 151, 67);
    color: white;
}

h2 {
    color: rgb(85, 85, 19);
}

.basico {
    color: rgb(31, 119, 31);
}

.intermediario {
    color: rgb(233, 233, 70);
}

.avancado {
    color: rgb(241, 97, 97);
}